/* .ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
} */

.space-carouusel{
  padding: 16px;
  background: #DEF1E5;
  overflow: hidden;
}
.slider-frame {
  border-radius: 8px;
}