button:focus{
  outline:0;
}
input:focus{
  border: 1px solid #19c9b4;
  outline-offset: 0;
  outline: 0ex;
}
html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: normal;
}