button:focus{
  outline:0;
}
input:focus{
  border: 1px solid #19c9b4;
  outline-offset: 0;
  outline: 0ex;
}
html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: normal;
}
.ant-modal-header {
  text-align: center;
}
.ant-modal-footer {
  text-align:center !important;
}

.ant-modal-footer button{
  width: 90%;
  border: none;
  background: yellow;
  border-radius: 10px;
  height: 30px;
}

/* 伪元素1px
.row-cell:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #e5e5e5;
  color: #e5e5e5;
  transform-origin: 0 0;
  transform: scaleY(0.5);
  z-index: 2;
} */

/*兼容ios不显示图片问题*/
/* img {
  content: normal !important
} */