button:focus{
  outline:0;
}
input:focus{
  border: 1px solid #19c9b4;
  outline-offset: 0;
  outline: 0ex;
}
html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: normal;
}
.ant-modal-header {
  text-align: center;
}
.ant-modal-footer {
  text-align:center !important;
}

.ant-modal-footer button{
  width: 90%;
  border: none;
  background: yellow;
  border-radius: 10px;
  height: 30px;
}