padding-top-with-ipxsafe($top)
  padding-top: 'calc(constant(safe-area-inset-top) + %s)' % $top;
  padding-top: 'calc(env(safe-area-inset-top) + %s)' % $top;

margin-top-with-ipxsafe($top)
  margin-top: 'calc(constant(safe-area-inset-top) + %s)' % $top;
  margin-top: 'calc(env(safe-area-inset-top) + %s)' % $top;

padding-bottom-with-ipxsafe($bottom)
  padding-bottom: 'calc(constant(safe-area-inset-bottom) + %s)' % $bottom;
  padding-bottom: 'calc(env(safe-area-inset-bottom) + %s)' % $bottom;
margin-bottom-with-ipxsafe($bottom)
  margin-bottom: 'calc(constant(safe-area-inset-bottom) + %s)' % $bottom;
  margin-bottom: 'calc(env(safe-area-inset-bottom) + %s)' % $bottom;
top-with-ipxsafe($top)
  top: 'calc(constant(safe-area-inset-top) + %s)' % $top;
  top: 'calc(env(safe-area-inset-top) + %s)' % $top;

bottom-with-ipxsafe($bottom)
  bottom: 'calc(constant(safe-area-inset-bottom) + %s)' % $bottom;
  bottom: 'calc(env(safe-area-inset-bottom) + %s)' % $bottom;
