.Mcalendar {
  background: #f8f8f8;
  margin-top: 20px
}
/* datemain {} */
.dateTop {
  display: flex;
  justify-content: center;
  align-items: center;
  height:90px;
  background: #fff;
}
.dateimgA {
  width: 29.5px;
  height: 25px;
  line-height: 25px;
  margin-right: 50px;
}
.dateimgB {
  width: 29.5px;
  height: 25px;
  line-height: 25px;
  margin-left: 50px;
}
.imgA {
  width: 100%;
  height: 100%
}
.imgB {
  width: 100%;
  height:100%
}
.thep {
  font-size: 32px;
  color: #333333;
  font-weight: 600;
  letter-spacing: 1.51px;
}
.dateWeek {
  background: #fff;
  overflow: hidden;
  height:80px;
  padding: 0 1%;
  box-sizing: border-box;
}
.everyDay {
  width: 14%;
  font-size: 24px;
  float: left;
  color: #999999;
  letter-spacing: 1.13px;
  text-align: center;
  padding: 25px 0;
  box-sizing: border-box;
}
.everyDate {
  color: #333333;
  width: 14%;
  float: left;
  padding: 20px 0px;
  box-sizing: border-box;
  font-size: 28px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  border-radius: 100%;
  width: 56px;
  height: 56px;
  box-sizing: border-box;
  padding: 9px;
  position: relative;
  background: lightgrey;
  color: white;
}
.dateDay {
  background: #fff;
  overflow: hidden;
}