.Mcalendar {
  background: #f8f8f8;
  margin-top: 20px
}
/* datemain {} */
.dateTop {
  display: flex;
  justify-content: center;
  align-items: center;
  height:90px;
  background: #fff;
}
.dateimgA {
  width: 32px;
  height: 28px;
  line-height: 28px;
  margin-right: 50px;
}
.dateimgB {
  width: 32px;
  height: 28px;
  line-height: 28px;
  margin-left: 50px;
}
.imgA {
  width: 100%;
  height: 100%
}
.imgB {
  width: 100%;
  height:100%
}
.thep {
  font-size: 32px;
  color: #333333;
  font-weight: 600;
  letter-spacing: 1.51px;
}
.dateWeek {
  background: #fff;
  overflow: hidden;
  height:80px;
  padding: 0 1%;
  box-sizing: border-box;
}
.everyDay {
  width: 14%;
  font-size: 24px;
  float: left;
  color: #999999;
  letter-spacing: 1.13px;
  text-align: center;
  padding: 25px 0;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.everyDate {
  color: #333333;
  width: 14%;
  /* float: left; */
  /* padding: 20px 0px; */
  box-sizing: border-box;
  font-size: 28px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.disabled .circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  padding: 9px;
  position: relative;
  text-align: center;
  background: #d3d3d3a1;
  color: white;
}
.dateDay {
  background: #fff;
  overflow: hidden;
  padding: 0 1%;
      box-sizing: border-box;
}
.empty {

}
.on .circle{
  background: #00C3AC;
  box-shadow: 0 0 11px 0 #5AD1C3;
  color: #fff;
  border-radius: 100%;
  width: 56px;
  height: 56px;
  box-sizing: border-box;
  padding: 9px;
  position: relative;
}
.time {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #00C3AC;
  
  background: #fff;
}