@import '../../common/css/mixin.scss';

.me-header {
  .img-background {
    width: 100%;
    height: 380px;
    background: url('../../assets/login/first-back.png');
    padding-top:50px;
    .top-icon{
      @include flex(flex-end);
      padding: 50px 35px 20px 20px;
      img {
        @include wh(50px,50px)
      }
    }
    .avatar {
      padding: 10px 35px;
      @include flex(space-between);
      .left{
        @include flex;
        color: #fff;
        .headerimg {
          @include wh(100px,100px);
          background-color: #fff;
          // padding: 3px;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
          // margin: 0 auto 10px;
          box-sizing: border-box;
          border-radius: 50%;
          img {
            display: block;
           @include wh(100%,100%);
            border-radius: 50%;
          }
        }
        .perInfo {
          .firstinfo {
            padding:10px;
            font-weight: 600;
            font-size: 36px;
          }
          .secondinfo {
            padding: 10px;
          }
        }
      }
    }
    .right {
      color: #fff;
    }
  }
}