@import '../css/mixin.scss';

.footer-container {
  background-color: #fff;
  position: absolute;
  z-index: 101;
  left: 0;
  bottom: 0;
  right: 0;
  @include wh(100%, calc(env(safe-area-inset-bottom) + 90px));
  box-shadow: 0 -0.026667rem 0.053333rem rgba(0, 0, 0, .1);

  .wrapper {
    padding-bottom: env(safe-area-inset-bottom);
    width: 100%;
    display: flex;

    .itemLink {
      flex: 1;
      @include flex;
      text-align: center;
      flex-direction: column;

      .wrapimg {
        @include flex;
        flex-direction: column;

        .tabimg {
          @include wh(40px, 40px)
        }
      }
    }

    .active {
      color: red;
    }
  }

}