/* @import './common/css/mixin.styl' */

  

/* 对于不支持safe区域的版本 增加padding-top */
  /* .ios-unsupport-safe .main-viewport {
    padding-top: 130px;
  }
  .ios-support-safe .main-viewport {
    padding-top: 90px;
  }
  .general-device .main-viewport {
    padding-top: 90px;
  } */