.wrapper_img{
  /* background: url('../../assets/login/first-back.png') no-repeat cover; */
  height:476px;
}
.avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.name {
  font-weight: bold;
  font-size: 40px;
  color: white;
  padding:  0 20px;
}
.introduction {
  color: white;
  font-size: 30px;
  padding: 0 20px;
}
.personalMessage {
  width: 25%;
  text-align: center;
  color:#f8f8f8;
  position: relative;
}
.personalMessage::before {
  content:'|';
  position: absolute;
  top: 20px;
  right:0;
  color:#f8f8f8;
}
.personalMessage:last-child::before{
  content:''
}