.header {
  height: 90px;
  line-height:90px;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width:100%;
}
.header-title{
  font-size: 1.2em;
}
.header-image {
  position: absolute;
  width:40px;
  height:40px;
  left:5px;
  top: 25px;
}